/ast.o
/ast_decl.o
/ast_expr.o
/ast_stmt.o
/ast_type.o
/dcc
/errors.o
/lex.yy.o
/main.o
/samples/
/scope.o
/tests/
/utility.o
/y.output
/y.tab.c
/y.tab.h
/y.tab.o
/lex.yy.c
/output-test/
/output-samples/
/dcc-sample
/output/
/test/
