/pp6-7.pdf
/ast.o
/ast_decl.o
/ast_expr.o
/ast_stmt.o
/ast_type.o
/cfg.o
/codegen.o
/dcc
/errors.o
/lex.yy.c
/lex.yy.o
/main.o
/mips.o
/program.asm
/scope.o
/tac.o
/utility.o
/y.output
/y.tab.c
/y.tab.h
/y.tab.o
/dcc-previous
/program1.asm
/program2.asm
/try.decaf
/z
